@import '~bootstrap/scss/bootstrap.scss';
.challengeImgTop {
  @extend .card-img-top;
  height: 200px;
}

.card {
  // width: 400px;
  // height: 800px;
  padding: 25px;
  border: 10px solid goldenRod;
  border-radius: 20px;
  font-family: Arial;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.health {
  position: absolute;
  top: 5px;
  right: 25px;
color: #603871; }
img.hero { width:auto ; height: auto; }

.strengths, .weaknesses {
  width: 50%;
  float: left;
}
h1,h2,h3,h4,h5 {
  color: #A60D60;
  margin-top: .5em;
  margin-bottom:.3em;
}
label {
  float: left;
  width: 33%;
  padding-right: 2%;
  padding-bottom: 2%;
  clear: both;
}
b { float: left; width: 65%; padding-bottom: 2%;}
.clear { clear: both; }

.badges {
  height: 75px;
  width: 200px;
}

.rating {
  height: 75px;
  width: 200px;
  float: right;
}
